//body
$body-bg: white;
$body-text-align: right;

//typography
$font-size-base: 1.6rem;
$font-family-base: IRANSans;
$headings-font-weight: bold;
$headings-color: black;
$headings-margin-bottom: 1.3rem;


//card
$card-border-radius: .8rem;

//input
$input-border-color: $blue-ribbon;
$input-bg: white;
$input-line-height: 1.9;
$input-margin-bottom: 2rem;

//link
$link-decoration: none;
$link-color: black;


//button
$btn-line-height: 1.9;
$btn-padding-x: 2rem;
